body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #deff78, #8cd003);
}

/* MARK: ADVERT
*/
#advert-cart {
  background-color: red;
  width: 100%;
  height: 20%;
}
/* MARK: ADVERT
 */
#advert {
  background-color: var(--light-green);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#advert-img {
  /* width: 100%; */
  height: calc(100% - 20px);

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

#advert-title {
  color: var(--orange);

  width: calc(100% - 444px);
  height: fit-content;

  font-size: 3em;
  font-family: var(--header-font);
  font-weight: bold;

  margin-top: 20px;
  margin-left: 12px;
}

#advert-description {
  color: var(--orange);

  width: calc(100% - 444px);

  font-size: 2em;
  font-family: var(--body-font);
  margin-left: 20px;
}

#advert-price {
  color: var(--orange);

  width: calc(60% - 444px);

  font-size: 4em;
  font-family: var(--body-font);
  font-weight: bold;

  margin-left: 20px;
  /* padding-bottom: 193px; */
}

#advert-kcal {
  color: var(--orange);

  height: 80px;
  width: calc(60%);

  font-size: 4em;
  font-family: var(--body-font);
  font-weight: bold;

  margin-left: 20px;
}

/* MARK: CART
*/
#cart {
  width: 10vh;
  height: 10vh;

  margin-left: 50%;
  top: 120px;
  display: flex;
  position: absolute;
  transform: translate(-50%, 15vh);
}

#cart-image {
  background-image: url("../img/cart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#cart p {
  color: white;

  width: 100%;
  height: 100%;
  transform: translate(-50%, 25%);
  margin-left: 100px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px black;
}
#advert-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 47%;
}

#advert-price,
#advert-kcal {
  margin: 0;
}

/* MARK: HEADER
*/

#header {
  width: 100%;
  height: 10%;

  /* margin-top: -9%; */

  display: flex;
  align-items: end;
}

#header h1 {
  color: var(--orange);

  width: 60%;

  font-family: var(--header-font);
  font-size: 3rem;
  font-weight: bold;
}

#header #total-price {
  color: var(--orange);

  width: 40%;

  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
  margin-right: 10%;
}

/* MARK: CONTENT
*/

#content {
  width: 100%;
  height: calc(60% - 50px);

  padding-top: 50px;
  padding-bottom: 50px;

  gap: 25px;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  overflow-y: scroll;
}

.item {
  background-color: var(--light-green);
  color: var(--orange);

  height: 20%;
  width: calc(100% - 100px);

  margin-inline: 50px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  position: relative;
}

.item-img {
  height: 18vw;
  width: 18%;

  margin: 1%;
}

.name-price {
  width: 80%;
  height: fit-content;
  min-height: 30%;

  display: flex;
}

.name-price h2 {
  color: var(--orange);

  width: 70%;

  font-family: var(--body-font);
  font-size: 3rem;

  padding-left: 5%;
}

.name-price p {
  color: var(--green);

  width: 30%;

  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
  padding-right: 8%;
}

.detail-box {
  width: 80%;
  height: 40%;

  display: flex;
  flex-direction: column;
}

.detail-box .description {
  font-family: var(--body-font);
  font-size: 1.3rem;
}

.detail-box .kcals {
  font-family: var(--body-font);
  font-size: 1.8rem;
}

.amount-box {
  min-width: 245px;
  height: 44.08px;

  display: flex;

  position: absolute;
  bottom: 10px;
  right: 10px;
}

.amount-box .amount-minus {
  background-color: var(--green);
  color: var(--orange);

  width: 15%;

  margin-left: 30%;

  border: none;
  border-radius: 40%;

  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.amount-box .amount-text {
  color: var(--green);

  width: 50px;

  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.amount-box .amount-plus {
  background-color: var(--green);
  color: var(--orange);

  width: 15%;

  border: none;
  border-radius: 40%;

  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.amount-box .amount-clear {
  background-color: red;
  color: var(--green);

  width: 15%;

  margin-left: 2%;

  border: none;
  border-radius: 40%;

  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* MARK: FOOTER
*/

#footer {
  width: 100%;
  height: 132px;

  display: flex;
  justify-content: space-between;
}

.verlaat {
  color: red;

  height: 100px;
  width: 20%;
  text-align: center;

  font-family: var(--body-font);
  font-weight: bold;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

#menu,
#bestel2 {
  background-color: var(--green);

  margin-inline: auto;
  margin-bottom: 100px;
  width: 300px;
  height: 100px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20%;

  font-family: var(--body-font);
  font-size: 2rem;

  text-decoration: none;
  color: var(--orange);
}
#empty-cart-message {

  font-family: var(--body-font);
  font-size: 44px;
  font-weight: bold;
  margin: 20px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  z-index: 1000;
}
