* {
  margin: 0;
  padding: 0;
  /* outline: green solid 1px; */
}

body {
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #deff78, #8cd003);
}

/* MARK: ADVERT
 */
#advert {
  background-color: var(--light-green);
  width: 100%;
  height: 20vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#advert-img {
  /* width: 100%; */
  height: calc(100% - 20px);

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

#advert-title {
  color: var(--orange);

  width: calc(100% - 444px);
  height: fit-content;

  font-size: 3em;
  font-family: var(--header-font);
  font-weight: bold;

  margin-top: 20px;
  margin-left: 20px;
}

#advert-description {
  color: var(--orange);

  width: calc(100% - 444px);

  font-size: 2em;
  font-family: var(--body-font);
  margin-left: 20px;
}

#advert-price {
  color: var(--orange);

  width: calc(60% - 444px);

  font-size: 4em;
  font-family: var(--body-font);
  font-weight: bold;

  margin-left: 20px;
  /* padding-bottom: 193px; */
}

#advert-kcal {
  color: var(--orange);

  height: 80px;
  width: calc(60%);

  font-size: 4em;
  font-family: var(--body-font);
  font-weight: bold;

  margin-left: 20px;
}

/* MARK: WELCOMEBAR
 */
#menu-welcomebar {
  /* background-color: aqua; */
  width: 100%;
  height: 10.416667vh;

  display: flex;
}
.logo-container {
  height: 100%;
}
#menu-welcomebar img {
  width: auto;
  height: 100%;
}

#menu-welcomebar p {
  color: var(--orange);
  display: flex;
  font-size: 4em;
  font-family: var(--header-font);

  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MARK: CONTAINER
 */
#menu-container {
  /* background-color: darkgray; */
  width: 100%;
  height: 52.083333vh;

  display: flex;
  flex-direction: row;
}

/* MARK: NAVBAR
 */

nav {
  /* background-color: brown; */
  color: var(--orange);

  height: 993px;
  width: 270px;

  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-color: var(--orange) var(--light-orange);
  /* scrollbar-gutter: none; */
}

nav::-webkit-scrollbar-button {
  display: none;
}

nav ul {
  height: 100%;
  width: 100%;

  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

.menu-category {
  background-color: var(--green);

  height: 230px;
  width: 200px;
  margin-bottom: 20px;

  margin-inline: auto;
}

.menu-category > a {
  text-decoration: none;
}

.category-icon {
  width: 160px;
  height: 160px;

  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%, 0);
}

.category-title {
  margin-top: -5px;
  height: 60px;
  color: var(--orange);
  font-size: 1.8em;
  font-weight: bold;
  font-family: var(--body-font);

  text-align: center;
}

/* MARK: items
  */
#menu-items {
  /* background-color: brown; */
  width: 100%;
  height: calc(100% - 20px);

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 10px;
  row-gap: 10px;
  overflow-y: scroll;
}

.item-card {
  background-color: var(--light-green);
  width: 275px;
  height: 40%;

  display: flex;
  flex-wrap: wrap;
}

.category1 {
  display: flex;
}

.inactive {
  display: none;
}

.item-image {
  width: 80%;
  height: auto;

  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%, 0);
}
.item-info {
  width: 100%;
  height: 40%;
  display: flex;
}
#advert-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

#advert-price,
#advert-kcal {
  margin: 0;
}

.item-title {
  color: var(--orange);

  width: 70%;

  padding-left: 5%;

  font-family: var(--body-font);
  font-size: 1.8em;
  text-size-adjust: auto;
  text-align: center;
  min-height: fit-content;
}
.item-price {
  color: var(--green);

  width: 20%;

  padding-right: 5%;

  font-family: var(--body-font);
  font-size: 1.5em;
  text-align: end;
}

/* MARK: footer
 */

#cart-container {
  /* background-color: darkorchid; */

  height: 10.216667vh;
  width: 100%;

  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 5px solid var(--orange);
}
.cart-image-container {
  height: 100%;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.cart-image-container img {
  /* background-color: fuchsia; */

  background-size: cover;

  height: 180px;
  width: auto;
}
#cart-img {
  height: 100%;
  width: 20%;
}

li {
  border-radius: 20px;
  border-color: black;
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cart-img p {
  font-size: 3em;
  font-family: var(--body-font);
  font-weight: bold;
  text-align: center;

  transform: translate(0, calc(-100% - 1.2em));
  color: white;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px black;
}

#cart-total {
  color: var(--orange);
  font-size: 2.5em;
  padding: 10px;
  font-family: var(--body-font);
  font-weight: bold;
}

#footer-buttons {
  /* background-color: darkred; */
  width: 100%;
  height: 7.083333vh;

  display: flex;

  align-items: end;
}

.verlaat {
  color: red;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 30%;
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
}
.verlaat:hover {
  background-color: rgb(206, 204, 204);
}

.bestel {
  background-color: var(--green);
  display: flex;
  margin-inline: auto;
  width: 30%;
  margin-left: 37%;
  height: 70%;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  font-size: 2rem;

  border: 2px solid black;
}
.bestel:hover {
  background-color: #629103;
}
